<div class="container">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>

  <a href="/" class="brand js-home">Ledger</a>

  <div class="nav-collapse collapse">
    <ul class="nav">
      <li><a href="/accounts" class="js-accounts">Accounts</a></li>
    </ul>

    <ul class="nav pull-right">
      <li><a href="/my-account" class="js-my-account">Logged in as {{email}}</a></li>
      <li><a href="/logout" class="js-logout">Logout</a></li>
    </ul>
  </div>
</div>
