*.pid
*.rbc
*.sassc
*.swp
**.orig
.bundle
.DS_Store
.rspec
.rvmrc
.ruby-gemset
.ruby-version
.sass-cache
capybara-*.html
config/database.yml
config/deploy.rb
config/initializers/email.rb
coverage
db/*.sqlite3
dump.rdb
log/*
pickle-email-*.html.rvmrc
public/system/*
rerun.txt
spec/tmp/*
tmp/*
vendor/bundle
