*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html.rvmrc
config/database.yml
coverage
.DS_Store
*.swp
erd.pdf
.powrc
public/assets
config/aws_s3.yml
config/sunspot.yml
solr/data
*.pid
dump.rdb