<%- if object.errors.any? -%>
  <div class="alert alert-block alert-error fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <h4 class="alert-heading">The following errors prevented the form from being saved:</h4>
    <ul>
      <%- object.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>
