<h1>Schedule Recurring Transaction</h1>

<%= form_for @recurring_transaction, :url => account_recurring_transactions_path(@account), :html => {:class => 'form-horizontal'} do |f| %>
  <fieldset>
    <%= render 'form', :f => f %>

    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Save', :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', account_recurring_transactions_path(@account), :class => 'btn' %>
      </div>
    </div>
  </fieldset>
<%- end -%>
