<div class="well well-small">
  <div class="clearfix">
    <h2 class="pull-left"><a href="/accounts/{{url}}" class="js-show">{{name}}</a></h2>
    <p class="balance-big pull-right">{{dollar_balance}}</p>
  </div>

  <button type="button" class="btn btn-primary btn-mini js-edit">Edit</button>
  <button type="button" class="btn btn-mini js-sharing">Sharing</button>
  <button type="button" class="btn btn-danger btn-mini js-delete">Delete</button>
</div>
