<div class="well well-small">
  <h2><a href="/accounts/{{account.url}}" class="backbone-link">{{account.name}}</a></h2>
  <p class="balance-big">{{account.dollar_balance}}</p>
  <a href="#" class="btn btn-primary btn-mini">Edit</a>
  <a href="#" class="btn btn-mini">Sharing</a>
  <a href="#" class="btn btn-danger btn-mini delete">Delete</a>
</div>
