<a href="/accounts">&larr; Back to Accounts</a>

<h1>Add Account</h1>

<form action="/accounts" method="post" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label for="account_name" class="required control-label">Name</label>
      <div class="controls">
        <input type="text" name="account_name" id="account_name" class="required span3" />
      </div>
    </div>

    <div class="control-group">
      <label for="account_initial_balance" class="control-label">Initial Balance (optional)</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span>
          <input type="text" name="account_initial_balance" id="account_initial_balance" class="span2" />
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a href="/accounts" class="btn">Cancel</a>
      </div>
    </div>
  </fieldset>
</form>
