<a href="/accounts" class="js-back-to-accounts">&larr; Back to Accounts</a>

<h1>Add Account</h1>

<form action="/accounts" method="post" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label for="account_name" class="required control-label">Name</label>
      <div class="controls">
        <input type="text" name="account_name" id="account_name" class="required span3" autocorrect="off">
        <span class="help-inline"><label for="account_name" class="error hide">This field is required.</label></span>
      </div>
    </div>

    <div class="control-group">
      <label for="account_initial_balance" class="control-label">Initial Balance (optional)</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span>
          <input type="number" name="account_initial_balance" id="account_initial_balance" class="span2">
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/accounts" class="btn js-back-to-accounts">Cancel</a>
      </div>
    </div>
  </fieldset>
</form>
