<a href="/accounts">&larr; Back to Accounts</a>

{{#with account}}
  <div class="row account-header">
    <div class="span8">
      <h1>{{name}}</h1>
    </div> <!-- /span8 -->

    <div class="span4">
      <div id="current-balance" class="balance pull-right">{{dollar_balance}}</div>
    </div> <!-- /span4 -->
  </div> <!-- /row -->

  <div class="row">
    <div class="span9">
      <form method="post" action="#" class="form-inline new-entry">
        <label for="entry_fields" class="error hide entry-fields-error">Both fields are required.</label>
        <div class="input-prepend">
          <span class="add-on">$</span>
          <input type="text" name="entry_float_amount" id="entry_float_amount" class="span2 required" placeholder="Amount" autocapitalize="off" />
        </div>
        <input type="text" name="entry_description" id="entry_description" class="span5 entry-description required" placeholder="Description" autocorrect="off" />
        <input type="submit" value="Add" class="btn btn-primary" id="btn-new-entry" />
      </form>
    </div>

    <div class="recurring-link span3">
      <a href="/accounts/{{url}}/recurring">Recurring Transactions</a>
    </div>
  </div>
{{/with}}

<p class="edit-hint">Click on a row to edit.</p>
<div id="entries">
  <div class="loading">
    <img src="/assets/spinner.gif" />
    Loading...
  </div>
</div>
