development:
  adapter: postgresql
  database: ledger_development
  username: postgres
  password:

test:
  adapter: postgresql
  database: ledger_test
  username: postgres
  password:

production:
  adapter: postgresql
  database: ledger_production
  username: postgres
  password:
