<section class="span8 offset2">
  <form class="login-form">
    <h1>My Account</h1>

    {{> users/_form}}

    <footer>
      <button type="submit" class="btn btn-primary js-submit">Update</button>
      <button type="button" class="btn js-cancel">Cancel</button>
    </footer>
  </form>
</section>
