<section class="span8 offset2">
  <form class="login-form">
    <h1>My Account</h1>

    {{> backbone/templates/users/_form}}

    <footer>
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="/accounts">Cancel</a>
    </footer>
  </form>
</section>
