<section class="span5 offset2">
  <form class="login-form">
    <h1>Log In</h1>

    <fieldset>
      <label for="login_email" class="required">Email</label>
      <input type="email" name="login_email" id="login_email" class="span4 required" />

      <label for="login_password" class="required">Password</label>
      <input type="password" name="login_password" id="login_password" class="span4 required clearfix" />

      <label for="login_remember_me" class="checkbox">
        <input type="checkbox" name="login_remember_me" id="login_remember_me" /> Remember Me
      </label>
    </fieldset>

    <footer>
      <input type="submit" value="Log In" class="btn btn-primary" data-loading-text="Logging In" />
      <a href="register">Register</a>
    </footer>
  </form>
</section>
