<section class="span8 offset2">
  <form class="login-form">
    <h1>Register</h1>

    {{> backbone/templates/users/_form}}

    <footer>
      <button type="submit" class="btn btn-primary">Submit</button>
    </footer>
  </form>
</section>
