<section class="span8 offset2">
  <form class="login-form">
    <h1>Register</h1>

    {{> backbone/templates/users/_form}}

    <footer>
      <input type="submit" value="Submit" class="btn btn-primary" />
    </footer>
  </form>
</section>
