<div class="body-wrap">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        {{#link-to index class="brand"}}Ledger{{/link-to}}

        <div class="nav-collapse collapse">
          {{#if Ledger.Auth.signedIn}}
            <ul class="nav">
              <li>{{#link-to accounts}}Accounts{{/link-to}}</li>
            </ul>

            <ul class="nav pull-right">
              <li>{{#link-to my_account}}My Account{{/link-to}}</li>
              <li><a href="#">Users</a></li>
              <li><button {{action signOut}} class="btn btn-link">Logout</button></li>
            </ul>
          {{else}}
            <ul class="nav pull-right">
              <li>{{#link-to sign_in}}Login{{/link-to}}</li>
              <li><a href="#">Register</a></li>
            </ul>
          {{/if}}
        </div> <!--/nav-collapse -->
      </div> <!-- /container -->
    </div> <!-- /navbar-inner -->
  </div> <!-- /navbar -->

  <div class="container main clearfix">
    {{outlet}}
  </div> <!-- /container -->

  <div class="footer-push"></div>
</div> <!-- /body-wrap -->

<footer>
  <div class="container">
    <!-- Footer? -->
  </div>
</footer>

<!-- <p id="screen-info"></p> -->
