<section class="span8 offset2">
  <form class="login-form">
    <h1>Log In</h1>

    <fieldset>
      <label for="email" class="required">Email</label>
      {{input type="email" value=email autocapitalize="off" autocorrect="off" class="span4 required"}}

      <label for="password" class="required">Password</label>
      {{input type="password" value=password autocapitalize="off" autocorrect="off" class="span4 required clearfix"}}

      <label class="checkbox">
        {{input type="checkbox" value=remember_me}} Remember Me
      </label>
    </fieldset>

    <footer>
      <button {{action "signIn"}} class="btn btn-primary">Log in</button>
      {{#linkTo 'register'}}Register{{/linkTo}}
    </footer>
  </form>
</section>
