$iconSpritePath: "/assets/glyphicons-halflings.png";
$iconWhiteSpritePath: "/assets/glyphicons-halflings-white.png";

@import "bootstrap";
@import "responsive";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.body-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.footer-push,
footer {
  height: 60px;
}

.main {
  padding-top: 100px;
}

li.navbar-text {
  padding-left: 15px;
  padding-right: 15px;
}

.field_with_errors input {
  border: 1px solid #900;
}

.balance-big {
  font-size: 46px;
  line-height: 150%;
  text-align: right;
}

.account-header {
  margin-bottom: 25px;
}

.balance {
  @include border-radius(6px);
  background-color: #eee;
  font-size: 46px;
  line-height: 125%;
  padding: 0 15px;
}

.radio.inline {
  padding-top: 0;
}

.entry-list {
  border: 1px solid #eee;

  li {
    font-size: 16px;
    padding: 5px 10px 5px 0;

    &:nth-child(odd) {
      background-color: #eee;
    }

    .delete-entry {
      display: block;
      padding: 1px 5px 0 5px;
      visibility: hidden;
    }

    &:hover .delete-entry {
      visibility: visible;
    }

    .debit {
      color: #900;
    }
  }
}

.pagination-info {
  line-height: 30px;
  margin: 10px 0;
}

.overlay-message {
  color: #fff;
  display: none;
  font-size: 16px;
  position: fixed;
  text-align: center;
  text-shadow: 1px 1px 1px fade-out(#000, .85);
  bottom: 0;
  width: 100%;
  z-index: 2000;
  @include box-shadow(0 0 0 fade-out(#000, .75));

  &:hover {
    cursor: pointer;
  }

  > .interior {
    background: fade-out(#a95246, .05);
    padding: 23px 15px;
  }
}

@media (min-width: 1200px) {
  .alert {
    border-top: none;
    position: absolute;
    top: 41px;
    width: 1119px;
    @include border-radius(0 0 6px 6px);
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .alert {
    border-top: none;
    position: absolute;
    top: 41px;
    width: 889px;
    @include border-radius(0 0 6px 6px);
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .main {
    padding-top: 40px;
  }

  .alert {
    border-top: none;
    position: absolute;
    top: 51px;
    width: 673px;
    @include border-radius(0 0 6px 6px);
  }
}

@media (max-width: 767px) {
  .main {
    padding-top: 0;
  }
}
