<ul class="nav">
  <li><a href="/accounts">Accounts</a></li>
</ul>

<ul class="nav pull-right">
  <li><a href="/my-account">Logged in as {{user.email}}</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
