<a href="/accounts/{{account.url}}" class="js-account">&larr; Back to Account</a>

<button class="btn btn-primary btn-large pull-right js-new-recurring-transaction">New Recurring Transaction</button>
<h1>Recurring Transactions</h1>

{{#if recurring_transactions}}
  <table class="recurring table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th class="day">Day of the Month</th>
        <th class="amount">Amount</th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody id="recurring-transactions-list"></tbody>
  </table>
{{else}}
  <p>You don't have any recurring transactions yet!</p>
{{/if}}
