<td>{{day}}</td>
<td class="{{classification}}">{{formatted_amount}}</td>
<td>{{description}}</td>
<td>
  <button type="button" class="btn btn-primary btn-mini js-edit">Edit</button>
  <button type="button" class="btn btn-danger btn-mini js-delete">Delete</button>
</td>
